@-webkit-keyframes swinging{
    0%{-webkit-transform: rotate(10deg);}
    50%{-webkit-transform: rotate(-5deg)}
    100%{-webkit-transform: rotate(10deg);}
}
@keyframes swinging{
    0%{transform: rotate(10deg);}
    50%{transform: rotate(-5deg)}
    100%{transform: rotate(10deg);}
}

body{
    padding: 0px;
    margin: 0px;

    background-color: #353c44;
}

.app-header{
    width: 100%;
    height: 60px;
    background-color: #132030;

    text-align: center;
    padding-top: 20px;
}
.app-header span{
    font-family: consolas;
    color: white;
    font-size: 30px;

    user-select: none;
}
.app-header img{
    width: 60px;
    margin-right: 30px;

    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 50%;
    -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
    animation: swinging 3.5s ease-in-out forwards infinite;

    user-select: none;
}

.app-control-container {
    text-align: center;
}
.app-control-container button{
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;

    border: none;
    background-color: #69c674;
    color: black;
    padding: 5px;
    border-radius: 3px;

    cursor: pointer;
}

.flight-count-container{
    text-align: center;
}
.flight-count-container span{
    color: white;
    font-family: consolas;
    font-size: 20px;
    user-select: none;
}